$color1: #ffffff;
$color2: #808080;
$color3: #000000;

body {
    background-color: $color2;
}

/*#region valuePart */
input[type=text] {
    border: 0.1vh groove #ff6a00;
    border-radius: 1vh;
    width: 30vh;
    height: 4vh;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    padding: 1px 1px 1px 8px;
}

input[type=text]:hover {
    box-shadow: #ff6a00 0.1vh 0.1vh;
}

.panel-value {
    float: left;
    display: inline-block;
}
/*#endregion valuePart */


.panel-label {
    width: 30vh;
    display: inline-block;
    float: left;
    font: 3vh arial;
    padding: 1px 5px;
}

.formContainer {
    display: block;
}

.regForm {
    display: block;
    width: 140vh;
    margin: 0 auto;

    .left-regForm {
        display: block;
        float: left;
        border: 3px groove red;
        width: 65vh;
    }

    .right-regForm {
        display: block;
        float: left;
        border: 3px groove black;
        width: 65vh;
    }

    div.segment {
        overflow: hidden;
        width: 62vh;
        float: left;
        margin: 0.3vh auto;
    }
}
