@keyframes signal {
  50% {
    background: white; } }

@-ms-keyframes signal {
  50% {
    background: white; } }

@-webkit-keyframes signal {
  50% {
    background: white; } }

@-o-keyframes signal {
  50% {
    background: white; } }

@-moz-keyframes signal {
  50% {
    background: white; } }

.signal-sticks {
  margin: auto;
  position: relative;
  width: 9px;
  height: 36px;
  background: rgba(255, 255, 255, 0.3);
  animation: signal 1s infinite 0.33333s;
  -ms-animation: signal 1s infinite 0.33333s;
  -webkit-animation: signal 1s infinite 0.33333s;
  -o-animation: signal 1s infinite 0.33333s;
  -moz-animation: signal 1s infinite 0.33333s; }
  .signal-sticks:before, .signal-sticks:after {
    content: '';
    position: absolute;
    display: block;
    height: 24px;
    width: 9px;
    background: rgba(255, 255, 255, 0.3);
    bottom: 50%;
    transform: translateY(50%);
    -ms-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -o-transform: translateY(50%);
    -moz-transform: translateY(50%);
    animation: signal 1s infinite;
    -ms-animation: signal 1s infinite;
    -webkit-animation: signal 1s infinite;
    -o-animation: signal 1s infinite;
    -moz-animation: signal 1s infinite; }
  .signal-sticks:before {
    left: -18px; }
  .signal-sticks:after {
    left: 18px;
    animation-delay: 0.66667s;
    -ms-animation-delay: 0.66667s;
    -webkit-animation-delay: 0.66667s;
    -o-animation-delay: 0.66667s;
    -moz-animation-delay: 0.66667s; }

